.loading {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 36px 32px;
  gap: 50px;
  width: 400.36px;
}

.loading > h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
}

.loading__progress {
  display: flex;
  height: 10px;
  background: #f2f2f2;
  border-radius: 8px;
  align-items: center;
  width: 100%;
}

.progress__number {
  height: 100%;
  background: #2f80ed;
  border-radius: 8px;  
}
